.gradient-background {
    -fx-background-color: white;
}

.pane-shadow {
    -fx-effect: dropshadow(three-pass-box, rgba(77, 77, 77, 0.25), 10, 0, 0, 5);
}

.line-divider {
    -fx-pref-width: 640px;
    -fx-pref-height: 1px;
    -fx-background-color: rgba(24, 18, 18, 0.89);
    -fx-border-width: 0 0 1px 0;
    -fx-opacity: 0.6;
}

.text-field {
    -fx-background-color: #FFF;
    -fx-border-radius: 6px;
    -fx-padding: 12px 17px;
    -fx-background-radius: 6px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.25), 4, 0, 0, 1);
    -fx-pref-width: 640px;
    -fx-pref-height: 40px;
    -fx-alignment: center;
}

.button-main {
    -fx-background-color: #FFF;
    -fx-padding: 8px 16px;
    -fx-alignment: center;
    -fx-display: inline-flex;
}

.button-valsim {
    -fx-background-color: #FFF;
    -fx-border-radius: 6px;
    -fx-padding: 8px 16px;
    -fx-alignment: center;
    -fx-display: inline-flex;
}

.background-exp {
    -fx-background-color: #EDF2F7;
    -fx-border-radius: 6px;
    -fx-background-radius: 6px;
    -fx-padding: 3px 8px 4px 8px;
    -fx-min-width: 24px;
    -fx-max-width: 640px;
    -fx-min-height: 24px;
    -fx-alignment: center;
}

.continue-button {
    -fx-background-radius: 21px;
    -fx-background-color: #FAB000;
    -fx-text-fill: white;
    -fx-font-family: 'Inter Black';
    -fx-font-size: 13px;
    -fx-effect: dropshadow(gaussian, #A77A00, 0, 0, 0, 4);
    -fx-padding: 10 20;
    -fx-transition: translate 0.1s ease; /* Added transition for smooth movement */
}

.continue-button:hover {
    -fx-background-color: #FBD782;
}

.continue-button:pressed {
    -fx-background-color: #93A3AD;
    -fx-text-fill: #52656D;
    -fx-effect: none;
    -fx-translate-y: 4px; /* Move down when pressed */
}

.disk {
    -fx-border-color: black;
    -fx-border-width: 2px;
    -fx-alignment: center;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.5), 10, 0, 0, 0);
    -fx-background-radius: 10px;  /* Rounded corners */
}

.button-topic:hover {  /* Removed space for correct hover effect */
    -fx-background-color: #F4FFDE;
}
